{% extends "base.html" %}
{% block title %}Create Exam{% endblock %}
{% block content %}
<div class="card card-glass p-3 shadow-sm">
  <a class="back-btn" href="{{ url_for('principal_dashboard') }}">Back</a>
  <h4 class="mb-3">Create Exam</h4>

  <form method="post">
    <label class="form-label">Exam Name</label>
    <input name="name" class="form-control" required>

    <label class="form-label mt-2">Max Marks (per subject)</label>
    <input name="max_marks" type="number" class="form-control" value="100" required>

    <div class="mt-3">
      <button class="btn btn-success">Create</button>
    </div>
  </form>
</div>
{% endblock %}
