{% extends 'base.html' %}
{% block title %}{{ student.name }} Marks{% endblock %}
{% block content %}
<div class="dashboard-container">
    <a href="/marks" class="back-btn mb-2">Back</a>
    <h2>{{ student.name }} - Marks</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                {% for subject in subjects %}
                <th>{{ subject.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for mark in marks %}
            <tr>
                <td>{{ mark.created_at.strftime("%Y-%m-%d") }}</td>
                {% for subject in subjects %}
                <td>{{ mark['marks_' + str(subject.id)] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
